@import url(/styles.css);

@media screen and (width >= 600px) {
  main .recipe-grid {
    grid: repeat(11, auto) / repeat(2, minmax(0,1fr));;
  }
}

@media screen and (width >= 720px) {
  header {
    justify-content: space-between;
  }

  header .search-bar {
    display: flex;
    gap: .75rem;

    .search-input {
      background-color: var(--color-background);
      border: none;
      color: var(--color-blue);
      font-family: Abhaya Libre;
      font-size: 18px;
    }

    .search-input::placeholder {
      color: var(--color-blue);
    }

    .search-input:focus {
      background-color: var(--color-background);
      border: none;
      border-bottom: 1px solid var(--color-blue);
      border-radius: 1px;
      outline: none;
    }
    
    .search-input:focus::placeholder {
      color: transparent;
    }
    
    .search-icon {
      height: 1.5rem;
    }
  }

  aside {
    position: fixed;
    left: var(--space-medium);
    width: var(--aside-width-large);
  }

  main {
    margin-top: var(--header-height-large);
    padding-left: calc(var(--aside-width-large) + var(--space-large));
  }

  .search-bar-mobile {
    display: none;
  }
}

@media screen and (width >= 980px) {
  main .recipe-grid {
    grid: repeat(11, auto) / repeat(3, minmax(0,1fr));
    gap: var(--space-xsmall);
    padding-left: calc(var(--aside-width) + var(--space-large));
  }
}

@media screen and (width >= 1280px) {
  main .recipe-grid {
    grid: repeat(11, auto) / repeat(4, minmax(0,1fr));
  }
}