@import url(./styles.css);
@import url(./queries.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  z-index: 1001;
}

h2 {
  font-size: 24px;
}

#hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);

  overflow: hidden;
  margin: 130px var(--space-medium) var(--space-small);
  max-width: 1280px;

  h1 {
    font-size: 36px;
    margin: 0;
  }

  h2 {
    color: var(--color-green-light);
    font-size: 24px;
    margin: 0;
  }

  p {
     font-size: 20px;
  }

  img {
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    min-width: 0;
    width: 100%;
  }

  #details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

    #recipe-title {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
}

#recipe-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;

  margin: var(--space-small) var(--space-medium);
  max-width: 1280px;

  aside {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    font-size: 16px;

    h2 {
      margin: 8px;
      border-bottom: 1px solid var(--color-green);
    }

    img {
      width: 100%;
    }
  }

  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .recipe-step {
    p {
      font-size: 18px;
    }

    img {
      border-radius: 8px;
      width: 100%;
    }
  }
}

@media screen and (width >= 600px) {
  #hero {
    margin: 130px var(--space-large) var(--space-small);
    width: calc(100% - 2 * (var(--space-large)));
  }

  #recipe-content {
    margin: var(--space-small) var(--space-large);
  }
}

@media screen and (width >= 980px) {
  #hero {
    flex-direction: row-reverse;
    gap: 72px;

    padding-right: var(--space-large);
  }

  #recipe-content {
    flex-direction: row;
    gap: var(--space-large);
    margin: var(--space-small) var(--space-large);
    overflow: visible;
  }

  #recipe-content aside {
    position: sticky;
    top: 115px;

    font-size: 16px;
    width: 30%;
    z-index: 1000;
  }
}