@font-face {
  font-family: Carattere;
  src: url(/fonts/Carattere-Regular.ttf);
}

@font-face {
  font-family: Abhaya Libre;
  src: url(/fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Abhaya Libre;
  src: url(/fonts/Abhaya_Libre/AbhayaLibre-Medium.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: Abhaya Libre;
  src: url(/fonts/Abhaya_Libre/AbhayaLibre-SemiBold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Abhaya Libre;
  src: url(/fonts/Abhaya_Libre/AbhayaLibre-Bold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: Abhaya Libre;
  src: url(/fonts/Abhaya_Libre/AbhayaLibre-ExtraBold.ttf) format("truetype");
  font-weight: 900;
}

* {
  --color-background: #FAFAFA;
  --color-red: #900000;
  --color-blue: #05009C;
  --color-green: #38552A;
  --color-green-light: #38552A99;

  background-color: var(--color-background);
  box-sizing: border-box;
  font-family: Abhaya Libre;
  color: var(--color-green);
  -webkit-font-smoothing: antialiased;

  --header-height-large: 130px;
  --header-height: 99px;

  --aside-width-large: 18vw;
  --aside-width-small: 15vw;

  --space-large: 4rem;
  --space-medium: 2rem;
  --space-small: 1.5rem;
  --space-xsmall: 1rem;
}

body {
  margin: 0;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #F3E6E6;
  background-color: var(--color-background);
  padding: var(--space-small) var(--space-medium) var(--space-xsmall);
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  #home-icon {
    color: var(--color-red);
    font-family: Carattere;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -2%;
    margin: 0;
    text-decoration: none;
  }

  #search-bar {
    display: none;
  }
}

#search-bar-mobile {
  display: flex;
  gap: .75rem;
  padding: 1rem;

  border: 1px solid var(--color-blue);
  border-radius: 100px;

  #search-input {
    background-color: var(--color-background);
    border: none;
    color: var(--color-blue);
    font-family: Abhaya Libre;
    font-size: 18px;
    width: 100%;
  }

  #search-input::placeholder {
    color: var(--color-blue);
  }

  #search-input:focus {
    background-color: var(--color-background);
    border: none;
    border-radius: 1px;
    outline: none;
  }
  
  #search-input:focus::placeholder {
    color: transparent;
  }
  
  #search-icon {
    height: 1.5rem;
  }
}

aside {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 12px;

  h3 {
    border-bottom: 1px solid var(--color-green);
    color: var(--color-green);
    font-size: 18px;
    margin: 0;
  }

  .filter-button {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    border: 1px solid var(--color-green);
    border-radius: 100px;
    padding: 0.5rem 1rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin-top: var(--header-height);
  padding: var(--space-small) var(--space-medium);

  .recipe-grid {
    display: grid;
    grid: repeat(10, auto) / repeat(1, minmax(0,1fr));
    gap: var(--space-xsmall);
    width: 100%;
  }

  .recipe-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-xsmall);

    border: 1px solid var(--color-green);
    border-radius: 3px;
    color: var(--color-green);
    height: 100%;
    padding: var(--space-xsmall);
    text-decoration: none;

    img {
      border-radius: 3px;
      object-fit: scale-down;
      width: 100%;
    }

    .recipe-details {
      display: flex;
      flex-direction: column;
      line-height: 120%;

      .recipe-title {
      font-size: 18px;
      margin: 0;
     }

     .recipe-title-secondary {
      color: var(--color-green-light);
      font-size: 16px;
      margin: 0;
     }
    }
  }
}